{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
         <div class="jumbotron text-center">
             <h1>These are the commands you can use with charterbot! </h1>
        </div>
     </div>
     <div class="container">
        <div class="col-md-6">
            <h3>Memes!</h3>
            <ul>
                <li><code>neme</code> - This sends embeded memes about the alliance named "NEMA".</li>
                <li><code>bison</code> - This sends embeded memes about the corp named bison, and the CEO.</li>
            </ul>
        </div>
     </div>
{% endblock %}