{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>CharterBot is a memebot that started has a meme it's self</h1>
    <p>CharterBot uses the power of meme APIs to give you a faster, and better on-demand memes.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://discord.com/api/oauth2/authorize?client_id=675422422266282008&permissions=8&scope=bot"><span class="glyphicon glyphicon-flash"></span> Add charterbot to your server!</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/Roflush/CharterBot"><span class="glyphicon glyphicon-download"></span> We are on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    CharterBot is still the new kid on the block. We are working on it day in an day out.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> What can CharterBot do?</h3>
      <ul>
        <li>CharterBot can send memes in your discord using any API that we have added.</li>
        <li>CharterBot is the meme that lives on!</li>
        <li>CharterBot has STONKS!</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
{% endblock %}
